<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
<!-- 配置数据源 -->
     <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
   		<!-- 配置驱动名称 -->
   		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
   		<!-- 配置URL-->
   		<property name="url" value="jdbc:mysql://localhost:3306/property?characterEncoding=UTF-8&amp;useUnicode=true"/>
   		<!-- 配置username -->
   		<property name="username" value="root"/>
   		<!-- 配置密码 -->
   		<property name="password" value="1234"/>
	 </bean>   
     <!-- 配置SqlSessionFactoryBean -->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置别名 -->
        <property name="typeAliasesPackage" value="com.wj.pojo"/>
        <!-- 指定xxx.xml文件的位置 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
     </bean>
     <!-- 配置mapper.MapperScannerConfigurer -->
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描所有的dao -->
        <property name="basePackage" value="com.wj.dao"/>
        <!-- 配置sqlSessionFactoryBeanName属性 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
     </bean>
     <!-- 扫描业务层中有注解的类-->
     <context:component-scan base-package="com.wj.service"/>
     <!-- 配置事务管理器 -->
     <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="dataSource"/> 
   </bean>
     <!-- 基于注解配置事务 -->
     <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>        